/* line 4, sass/offline.scss */
body p, body i, body h1, body h2, body h3, body h4, body span {
  opacity: 1 !important;
}

/* line 10, sass/offline.scss */
.page-template-offline header {
  margin: 5rem 5% 2rem;
}
/* line 14, sass/offline.scss */
.page-template-offline #nav-offline {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  text-align: center;
  background: #fcd116;
  color: #fff;
  padding: 1rem 0;
  font-family: "GothamSSm-Black", Arial, sans-serif;
}
/* line 27, sass/offline.scss */
.page-template-offline #mb-horizontal-posts .posts {
  height: 8rem;
  position: relative;
  z-index: 10;
  display: block;
  border: 0.125rem solid #fcd116;
  background: #fff;
}
/* line 35, sass/offline.scss */
.page-template-offline #mb-horizontal-posts .posts .image {
  width: 50%;
  height: 100%;
  float: left;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
}
/* line 42, sass/offline.scss */
.page-template-offline #mb-horizontal-posts .posts .post_informations {
  width: 40%;
}
/* line 45, sass/offline.scss */
.page-template-offline #mb-horizontal-posts .posts .post_informations .square {
  left: 0;
  top: 50%;
}
