/* line 7, sass/shared.scss */
body h1, body h2, body h3, body h4 {
  opacity: 0;
  transition: opacity 0.25s cubic-bezier(0.75, 0, 0.25, 1);
  transition-delay: 0.5s;
}
/* line 13, sass/shared.scss */
body #theexcerpt, body i {
  opacity: 0;
  transition: opacity 0.25s cubic-bezier(0.75, 0, 0.25, 1);
  transition-delay: 1s;
}
/* line 19, sass/shared.scss */
body span {
  opacity: 0;
  transition: opacity 0.25s cubic-bezier(0.75, 0, 0.25, 1);
  transition-delay: 1s;
}
/* line 25, sass/shared.scss */
body.show #theexcerpt, body.show i, body.show h1, body.show h2, body.show h3, body.show h4, body.show span {
  opacity: 1;
}

@font-face {
  font-family: "GothamSSm-Book";
  src: url("./font/gothamSS/GothamSSm-Book.eot");
  src: local("GothamSSm Book"), local("GothamSSm-Book"), url("./font/gothamSS/GothamSSm-Book.eot?#iefix") format("embedded-opentype"), url("./font/gothamSS/GothamSSm-Book.woff2") format("woff2"), url("./font/gothamSS/GothamSSm-Book.woff") format("woff"), url("./font/gothamSS/GothamSSm-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamSSm-Black";
  src: url("./font/gothamSS/GothamSSm-Black.eot");
  src: local("GothamSSm Black"), local("GothamSSm-Black"), url("./font/gothamSS/GothamSSm-Black.eot?#iefix") format("embedded-opentype"), url("./font/gothamSS/GothamSSm-Black.woff2") format("woff2"), url("./font/gothamSS/GothamSSm-Black.woff") format("woff"), url("./font/gothamSS/GothamSSm-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Maitree-Regular";
  src: url("./font/maitree/Maitree-Regular.eot");
  src: local("Maitree Regular"), local("Maitree-Regular"), url("./font/maitree/Maitree-Regular.eot?#iefix") format("embedded-opentype"), url("./font/maitree/Maitree-Regular.woff2") format("woff2"), url("./font/maitree/Maitree-Regular.woff") format("woff"), url("./font/maitree/Maitree-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "latsuj";
  src: url("./font/latsuj/latsuj.eot");
  src: local("latsuj"), local("latsuj"), url("./font/latsuj/latsuj.eot?#iefix") format("embedded-opentype"), url("./font/latsuj/latsuj.woff2") format("woff2"), url("./font/latsuj/latsuj.woff") format("woff"), url("./font/latsuj/latsuj.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 48, sass/shared.scss */
.fa {
  font-family: 'latsuj';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
/* line 59, sass/shared.scss */
.fa.fa-youtube-square:before {
  content: "A";
  color: #ff514d;
}
/* line 64, sass/shared.scss */
.fa.fa-github-square:before {
  content: "B";
  color: #fcd116;
}
/* line 69, sass/shared.scss */
.fa.fa-facebook-square:before {
  content: "C";
  color: #61affe;
}
/* line 74, sass/shared.scss */
.fa.fa-heart:before {
  content: "G";
  color: #ff514d;
}
/* line 79, sass/shared.scss */
.fa.fa-philippines:before {
  content: "E";
  color: #fcd116;
}
/* line 84, sass/shared.scss */
.fa.fa-computer:before {
  content: "F";
  color: #61affe;
}
/* line 89, sass/shared.scss */
.fa.fa-download:before {
  content: "H";
  color: #ff514d;
}
/* line 94, sass/shared.scss */
.fa.fa-arrow-left:before {
  content: "I";
  color: #ff514d;
}
/* line 99, sass/shared.scss */
.fa.fa-arrow-right:before {
  content: "J";
  color: #ff514d;
}

/* line 107, sass/shared.scss */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #545454;
  margin: 0;
}

/* line 114, sass/shared.scss */
header {
  position: relative;
  border-bottom: 0.125rem solid #fcd116;
}
/* line 118, sass/shared.scss */
header img {
  width: 50%;
  margin: 0 25%;
  height: 100%;
  display: block;
}
/* line 125, sass/shared.scss */
header h1 {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 4.75rem;
  color: #fcd116;
}
/* line 134, sass/shared.scss */
header p::first-line {
  text-indent: initial;
}

/* line 139, sass/shared.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "GothamSSm-Black", Arial, sans-serif;
  text-transform: uppercase;
  color: #111;
}

/* line 145, sass/shared.scss */
p {
  font-family: "Maitree-Regular", Arial, sans-serif;
  line-height: 1.4rem;
  text-align: justify;
  word-spacing: 0.005rem;
}
/* line 58, sass/mixins.scss */
p::first-line {
  text-indent: 2rem;
}
/* line 62, sass/mixins.scss */
p::first-letter {
  color: #ff514d;
  font-weight: bold;
  font-size: 1.5rem;
}

/* line 153, sass/shared.scss */
span {
  font-family: "Maitree-Regular", Arial, sans-serif;
  word-spacing: 0.005rem;
}

/* line 158, sass/shared.scss */
a {
  text-decoration: none;
}

/* line 162, sass/shared.scss */
#nav {
  position: fixed;
  width: 100%;
  top: 0;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
/* line 171, sass/shared.scss */
#nav .options {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  color: #fcd116;
  font-size: 1.2rem;
  justify-content: space-between;
  width: 6rem;
}
/* line 182, sass/shared.scss */
#nav .options span {
  font-family: "GothamSSm-Black", Arial, sans-serif;
}
/* line 186, sass/shared.scss */
#nav .options i {
  color: white;
}

/* line 194, sass/shared.scss */
.design {
  position: absolute;
  background: #fcd116;
  top: 0;
  left: 50%;
  width: 0.125rem;
  transform: translateY(-150%);
  transition: transform 0.5s 1.35s cubic-bezier(0.75, 0, 0.25, 1);
}
/* line 203, sass/shared.scss */
.design::after {
  content: '';
  position: absolute;
  background-color: #fcd116;
  border: 0.125rem solid #fcd116;
  height: .625rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10px;
  width: .625rem;
  bottom: -0.4rem;
  left: -0.345rem;
}

/* line 210, sass/shared.scss */
#design_bottom {
  bottom: 0;
}

/* line 218, sass/shared.scss */
.single h1, .category h1, .page-template-all h1 {
  padding-bottom: 4rem;
  padding-top: 10rem;
  text-align: center;
}

/* line 226, sass/shared.scss */
#theexcerpt {
  position: relative;
  font-style: italic;
}
/* line 230, sass/shared.scss */
#theexcerpt::before {
  content: '';
  position: absolute;
  background-color: #fcd116;
  border: 0.125rem solid #fcd116;
  height: .625rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10px;
  width: .625rem;
  top: -0.4rem;
  right: 30%;
}
/* line 236, sass/shared.scss */
#theexcerpt::after {
  content: '';
  position: absolute;
  background-color: #fcd116;
  border: 0.125rem solid #fcd116;
  height: .625rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10px;
  width: .625rem;
  bottom: -0.4rem;
  left: 30%;
}
/* line 58, sass/mixins.scss */
#theexcerpt p::first-line {
  text-indent: 2rem;
}
/* line 62, sass/mixins.scss */
#theexcerpt p::first-letter {
  color: #ff514d;
  font-weight: bold;
  font-size: 1.5rem;
}

/* line 247, sass/shared.scss */
.line-description {
  position: relative;
  display: inline-block;
  padding: 0.5rem 0.5rem;
  text-align: center;
  background: #fcd116;
  color: white;
}
/* line 255, sass/shared.scss */
.line-description::before {
  content: '';
  position: absolute;
  background-color: #fcd116;
  border: 0.125rem solid #fcd116;
  height: .625rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10px;
  width: .625rem;
  background: #fff;
  top: -0.4rem;
  left: -0.4rem;
}

/* line 264, sass/shared.scss */
.wp-block-image {
  position: relative;
}
/* line 267, sass/shared.scss */
.wp-block-image .fa-download {
  position: absolute;
  padding: 10px;
  background: #fff;
  bottom: 0;
  right: 0;
  text-align: center;
}
