$color_header: #111;
$color_white: #fff;
$color_yellow: #fcd116;
$color_blue: #61affe;
$color_cyan: #ebf3fb;
$color_red: #ff514d;
$color_gray: #545454;
$color_gray_light: #efefef;

$text_header_stack: "GothamSSm-Black", Arial, sans-serif;
$text_header_proportion: 3rem;
$text_p_stack: "Maitree-Regular", Arial, sans-serif;
$text_stack: Arial, sans-serif;

$website_margin: 25%;
$website_category_margin: 25%;
$website_border_size: 0.125rem;

$mobile_text_header_proportion: 2rem;
$mobile_website_margin: 5%;
$mobile_website_margin_between_element: 6rem;

