@import 'constants';
@import 'mixins';

// ==============================================================================================>

body {
	& p, & i, & h1, & h2, & h3, & h4, & span {
		opacity: 0;
		transition: opacity 0.25s cubic-bezier(0.75,0,0.25,1);
	}
	
	&.show p, &.show i, &.show h1, &.show h2, &.show h3, &.show h4, &.show span {
		opacity: 1;
	}
}

// ==============================================================================================>

@font-face {
	@include font("gothamSS","GothamSSm-Book","GothamSSm Book",normal,normal);
}

@font-face {
	@include font("gothamSS","GothamSSm-Black","GothamSSm Black",900,normal);
}

@font-face {
	@include font("maitree","Maitree-Regular","Maitree Regular",normal,normal);
}

@font-face {
	@include font("material","MaterialIcons-Regular","MaterialIcons-Regular",normal,normal);
}

@font-face {
	@include font("design","fa-brands-400","fa-brands-400",400,normal);
}

@font-face {
	@include font("design","fa-regular-400","fa-regular-400",400,normal);
}

.fa {
	font-family: 'fa-brands-400';
  	-moz-osx-font-smoothing: grayscale;
  	-webkit-font-smoothing: antialiased;
  	display: inline-block;
  	font-style: normal;
  	font-variant: normal;
  	text-rendering: auto;
	line-height: 1; 
  
  	&.fa-github-square:before {
  		content: "\f092"; 
  		color: $color_yellow;
  	}

	&.fa-facebook-square:before {
		content: "\f082"; 
  		color: $color_blue;
	}
	  
	&.fa-youtube-square:before {
		content: "\f431"; 
  		color: $color_red;
	}
}

.far {
	font-family: 'fa-regular-400';
  	-moz-osx-font-smoothing: grayscale;
  	-webkit-font-smoothing: antialiased;
  	display: inline-block;
  	font-style: normal;
  	font-variant: normal;
  	text-rendering: auto;
	line-height: 1; 
	
	&.fa-heart:before {
		content: "\f004"; 
  		color: $color_red;
	} 
	
	&.fa-philippines:before {
		content: "\f57e"; 
  		color: $color_yellow;
	}
	
	&.fa-computer:before {
		content: "\f108"; 
  		color: $color_blue;
	}
}

.material-icons {
  font-family: 'MaterialIcons-Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// ==============================================================================================>

body {
    font-family: $text_stack;
    font-size: 16px;
    color: $color_gray;
    margin: 0;
}

header {
	position:relative;
	border-bottom: 0.125rem solid #fcd116;
	
	& img {
		width: 50%;
		margin: 0 25%;
		height: 100%;
		display: block;
	}
	
	& h1 {
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;
		font-size: 4.75rem;
		color: $color_yellow;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $text_header_stack;
    text-transform: uppercase;
    color: $color_header;
}

p {
	font-family: $text_p_stack;
    line-height: 1.4rem;
    text-align: justify;
    word-spacing: 0.005rem;
}

span {
	font-family: $text_p_stack;
    word-spacing: 0.005rem;
}

a {
	text-decoration: none;
}

#nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    z-index: 100;

	.options {
		text-transform: uppercase;
	    display: flex;
	    align-items: center;
	    text-decoration: none;
	    padding: 0 1rem;
		color: $color_yellow;
		font-size: 1.2rem;
		justify-content: space-between;
	    width: 6rem;
	    
	    & span {
	    	font-family: $text_header_stack;
	    }
	    
	    & i {
	    	color: white;
	    }
	}
}

// ==========================================================

.design {
    position: absolute;
    background: $color_yellow;
    top: 0;
    left: 50%;
    width: $website_border_size;
    
    &::after {
    	@include diamond();
    	bottom: -0.4rem;
    	left: -0.345rem;
    }
}

#design_bottom {
    bottom: 0;
}

// ==========================================================

.single, .category,, .page-template-all {

	& h1 {
		padding-bottom: 4rem;
    	padding-top: 10rem;
	    text-align: center;
	}
	
}

#theexcerpt {
    position: relative;
    font-style: italic;
	
	&::before {
		@include diamond();
	    top: -0.4rem;
	    right: 30%;
	}

	&::after {
		@include diamond();
	    bottom: -0.4rem;
	    left: 30%;
	}
	
	@include alinea();
}

.line-description {
	position: relative;
	display: inline-block;
	padding: 0.5rem 0.5rem;
	text-align: center;
	background: $color_yellow;
	color: white;
	
	&::before {
		@include diamond();
		background: $color_white;
	    top: -0.4rem;
	    left: -0.4rem;
	}
}


